src/main/resources/pokemon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://gmlpt.com/pokemon"
           elementFormDefault="qualified">

    <xs:element name="GetPokemonsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="limit" type="xs:int"/>
                <xs:element name="offset" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPokemonsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
